<div class="cardslist-bloc">
  <h2
    style="
      margin-bottom: 50px;
      background-color: rgb(16, 142, 201);
      color: white;
    "
  >
    YOUR COMPLETE DECK
  </h2>

  <div class="input-bloc">
    <select class="input" (change)="updateSelect($event)">
      <option>All</option>
      <option>To learn</option>
      <option>Learning</option>
      <option>Learned</option>
    </select>
    <input
      type="text"
      class="input"
      placeholder="Filter by text..."
      (input)="updateInput($event)"
    />
  </div>

  @if(cards && cards.length !== 0){
  <div class="cardslist">
    @for(card of cards; track card.id){
    <app-card [card]="card" />
    }
  </div>
  } @else {
  <div
    style="
      overflow-y: hidden;
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    "
    class="cardslist"
  >
    <h3>
      No cards in your deck<br />
      Try adding one to play !
    </h3>
    <button class="redirect">
      <a routerLink="add"><h3>Add a card</h3></a>
    </button>
  </div>
  }
</div>
