<div
  class="card"
  [ngClass]="{
    hide: isDeleted,
    red: card['score'] < 5,
    green: card['score'] >= 10,
    yellow: card['score'] > 5 && card['score'] < 10
  }"
>
  <div class="img-container">
    @if(card['image'] && ! isImageCorrupted(card['image'])){
    <img class="img" [src]="'data:image/png;base64,' + card['image']" />
    }@else {
    <img class="img" src="/grey.png" />
    }
  </div>
  <div style="width: 50%">
    <h4>{{ card["front_text"] }}</h4>
    <h4>{{ card["back_text"] }}</h4>
  </div>
  <div>
    <div class="kebab-button" (click)="toggleMenu()">
      <button class="kebab-icon">⋮</button>
      @if(menuVisible){
      <div class="menu">
        <ul>
          <li (click)="resetCard(card['id'])">
            Reload <fa-icon [icon]="faRotate" />
          </li>
          <li (click)="updateCard(card['id'])">
            Modify <fa-icon [icon]="faPenToSquare" />
          </li>
          <li (click)="deleteCard(card['id'])">
            Delete <fa-icon [icon]="faXmark" />
          </li>
        </ul>
      </div>
      }
    </div>
  </div>
</div>
