<div class="card">
  <div style="width: 50%">
    <h4>{{ card["front_text"] }}</h4>
    <h4>{{ card["back_text"] }}</h4>
  </div>
  <div style="width: 25%">
    <h4 style="margin: auto">Learning</h4>
  </div>
  <div class="card-buttons-container">
    <button class="button-delete">
      <fa-icon [icon]="faRotate" />
    </button>
    <button class="button-delete">
      <fa-icon [icon]="faPenToSquare" />
    </button>
    <button class="button-delete">
      <fa-icon [icon]="faXmark" />
    </button>
  </div>
</div>
