.card-container {
  position: relative;
  width: clamp(300px, 30%, 800px);
  height: 80%;
  margin: auto;
  margin-top: 1%;
}

.card-wrapper {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.7s;
}

.card {
  border-radius: 10px;
  border: solid 2px black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.back-card {
  background-color: rgb(177, 177, 177);
  transform: rotate(-3deg);
  z-index: 1;
}

.back-card-2 {
  background-color: rgb(177, 177, 177);
  transform: rotate(3deg);
  z-index: 0;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
}

.front-card {
  background-color: white;
  z-index: 2;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.front-text,
.back-text {
  text-align: center;
  margin-top: 50%;
  transform: rotateY(0deg);
}

.card-wrapper.flipped {
  transform: rotateY(180deg);
}

.return-button {
  position: fixed;
  margin-top: 1%;
  margin-left: 2%;
  font-size: 1.5em;
  border: solid 2px black;
  border-radius: 100px;
  padding: 5px 8px 5px 8px;
  color: black;
}

.front {
  z-index: 2;
}

.back {
  z-index: 1;
  transform: rotateY(180deg);
}

.hide {
  display: none;
}

.game-container {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgb(252, 204, 204) 45%,
    rgb(255, 240, 240) 50%,
    rgb(234, 252, 234) 50%,
    rgb(192, 250, 192) 55%
  );
}

.swipe-infos {
  padding-top: 2vh;
  display: flex;
  margin: auto;
  min-width: 500px;
  justify-content: space-around;
  //border: solid 1px black;
}

.swipe-left {
  color: green;
  margin-top: 0;
}

.swipe-right {
  color: red;
  margin-top: 0;
}
