.card-container {
  position: relative;
  width: clamp(500px, 30%, 800px);
  height: 80vh;
  margin: auto;
  margin-top: 1%;
}

.front-elements {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: center;
}

.card-wrapper {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.7s;
}

.card {
  border-radius: 10px;
  border: solid 2px black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.back-card {
  background-color: rgb(177, 177, 177);
  transform: rotate(-3deg);
  z-index: 1;
}

.back-card-2 {
  background-color: rgb(177, 177, 177);
  transform: rotate(3deg);
  z-index: 0;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
}

.front-card {
  background-color: white;
  z-index: 2;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.front-text,
.back-text {
  text-align: center;
  //margin-top: 10%;
  transform: rotateY(0deg);
}

.card-wrapper.flipped {
  transform: rotateY(180deg);
}

.return-button {
  position: fixed;
  margin-top: 1%;
  margin-left: 2%;
  font-size: 1.5em;
  border: solid 2px black;
  border-radius: 100px;
  padding: 5px 8px 5px 8px;
  color: black;
}

.front {
  z-index: 2;
}

.back {
  z-index: 1;
  transform: rotateY(180deg);
}

.hide {
  display: none;
}

.game-container {
  width: 100%;
  height: 92vh;
  background: linear-gradient(
    to right,
    rgb(255, 250, 250) 35%,
    rgb(255, 246, 246) 50%,
    rgb(243, 255, 243) 50%,
    rgb(248, 255, 248) 65%
  );
}

.swipe-infos {
  padding-top: 2vh;
  display: flex;
  margin: auto;
  min-width: 500px;
  justify-content: space-around;
  //border: solid 1px black;
}

.swipe-left {
  color: red;
  margin-top: 0;
}

.swipe-right {
  color: green;
  margin-top: 0;
}

.card-img {
  border: solid 1px rgb(105, 105, 105);
  width: 35%;
  border-radius: 10px;
  //margin-top: 20%;
  margin-left: 30%;
}

.no-cards {
  margin-top: 50%;
}

.no-cardsfront-text {
  text-align: center;
  margin-top: 50%;
}

@media (max-width: 800px) {
  .card-container {
    height: 60vh;
    margin-top: 15%;
    width: clamp(330px, 30%, 600px);
  }

  .swipe-infos {
    h4 {
      color: rgba(255, 255, 255, 0);
    }
  }
}
