.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

app-header {
  height: 6vh;
  border-bottom: solid 2px rgba(128, 128, 128, 0.548);
  padding-top: 10px;
}

.main {
  flex: 1;
  height: auto;
  overflow-y: auto;
}

.footer {
  text-align: center;
  height: 5.5vh;
  padding-top: 10px;
  border-top: solid 2px rgba(128, 128, 128, 0.548);
}

@media (max-width: 1000px) {
  .footer {
    //background-color: blue;
    height: 8vh;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .wrapper {
    height: auto;
    min-height: 100vh;
  }

  .main {
    flex: 1 0 auto;
  }
}

@media (max-height: 650px) {
  app-header{
    padding-top: 3px;
    padding-bottom: 7px;
  }

}