.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

app-header {
  height: 6vh;
  border-bottom: solid 2px rgba(128, 128, 128, 0.548);
  background-color: rgb(245, 229, 229);
  padding-top: 10px;
}

.main {
  flex: 1;
  height: auto;
  overflow-y: auto;
}

.footer {
  background-color: rgb(245, 229, 229);
  text-align: center;
  height: 5.5vh;
  padding-top: 10px;
  border-top: solid 2px rgba(128, 128, 128, 0.548);
}

@media (max-width: 800px) {
  .wrapper {
    height: auto;
    min-height: 100vh;
  }

  .main {
    flex: 1 0 auto;
  }
}
