.ressource {
  border: solid 1px black;
  border-radius: 15px;
  width: 20%;
  height: 200px;
  margin-top: 45px;
  background-image: url("/uk.svg");
  background-position: center;
  background-size: cover;
}

.ressources-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
