.ressource {
  border: solid 1px white;
  border-radius: 15px;
  width: 17%;
  min-width: 200px;
  height: 28vh;
  background-image: url("/uk.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.ressources-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5%;
}
