<div class="home">
  <div class="home-main">
    <div class="main-bloc">
      <div class="learn-blocs">
        <div class="learn-bloc">
          <h2>To Learn<br />102</h2>
        </div>
        <div class="learn-bloc">
          <h2>Learning<br />102</h2>
        </div>
        <div class="learn-bloc">
          <h2>Learned<br />102</h2>
        </div>
      </div>
      <div class="buttons-main">
        <button class="button-start">Start</button>
        <button class="button-add">Add</button>
      </div>
    </div>
  </div>
  <div class="home-cards">
    <app-cardslist />
  </div>
</div>
