.home {
  width: 100%;
  display: flex;
  gap: 3%;
  height: 100%;
  justify-content: center;
}

.add-bloc {
  width: 30%;
  //border: solid 1px black;
}

.home-main {
  width: 30%;
  //border: solid 1px black;
}

.home-cards {
  width: 30%;
  //border: solid 1px black;
}

.main-bloc {
  border-radius: 30px;
  height: 80%;
  background-color: white;
  margin: auto;
  margin-top: 50px;
  padding-top: 30px;
  text-align: center;
  box-shadow: 1px 1px 5px 1px rgba(61, 61, 61, 0.856);
  border: solid 1px grey;
}

.learn-blocs {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  gap: 20px;
  margin-top: 20px;
}

.learn-bloc {
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
  text-align: center;
  text-shadow: 1px 1px 1px black, -1px 1px 1px black, 1px -1px 1px black,
    -1px -1px 0 black, 1px 1px 1px black, 1px -1px 1px black, 1px 1px 1px black,
    -1px 1px 1px black;
  color: white;
  min-height: 95px;
}

.learn-text {
  font-weight: bold;
  font-size: 1.3em;
}

.button-start {
  border-radius: 20px;
  background-color: #c91a1a;
  color: white;
  width: 45%;
  border: solid 1px grey;
}

.button-add {
  border-radius: 50px;
  padding: 0 2px 0 2px;
  background-color: #c91a1a;
  color: white;
  width: 50px;
  margin-left: 5%;
  border: solid 1px grey;
  justify-content: center;
  align-items: center;
}

.buttons-main {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 20px;
  width: 70%;
}

.to-learn {
  background-color: rgb(253, 181, 181);
  border: solid 4px rgb(250, 92, 92);
}

.learning {
  background-color: rgb(255, 229, 181);
  border: solid 4px rgb(221, 163, 55);
}

.learned {
  background-color: rgb(183, 250, 183);
  border: solid 4px rgb(81, 245, 81);
}

.newcard-bloc {
  text-align: center;
  width: 100%;
  height: 85%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 5vh;
  border-radius: 30px;
  background-color: white;
  border: solid 1px grey;
  box-shadow: 1px 1px 5px 1px rgba(61, 61, 61, 0.856);
}

fieldset {
  width: 50%;
  margin: auto;
  border-radius: 15px;
  border: solid 1px black;
}

legend {
  font-weight: bold;
}

input {
  background-color: rgba($color: #000000, $alpha: 0);
  border: none;
  width: 100%;
  height: 25px;
  padding-left: 15px;
}

input:focus {
  outline: none;
  background-color: rgba($color: #000000, $alpha: 0);
}

fieldset:focus-within {
  border: solid 2px black;
}

.button-save {
  width: 20%;
  padding: 12px;
  border-radius: 15px;
  border: solid 1px gray;
  color: white;
  font-weight: bold;
  background-color: #c91a1a;
  margin-bottom: 20px;
}

.fieldset {
  margin-bottom: 30px;
}

.error {
  color: red;
}

.api-img {
  border: solid 1px rgb(105, 105, 105);
  width: 35%;
  border-radius: 10px;
  margin-bottom: 50px;
}

.uk-bg {
  background: linear-gradient(
      rgba(115, 119, 119, 0.4),
      rgba(115, 119, 119, 0.4)
    ),
    url("/uk-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fr-bg {
  background: linear-gradient(
      rgba(115, 119, 119, 0.4),
      rgba(115, 119, 119, 0.4)
    ),
    url("/french-bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

@media (max-width: 1000px) {
  .learn-blocs {
    flex-direction: column;
    width: 60%;
  }

  .add-bloc {
    display: none;
  }

  .home-main,
  .home-cards {
    width: 45%;
  }
}

@media (max-width: 800px) {
  .home {
    flex-direction: column;
    background: #a73449;
  }

  .home-main,
  .add-bloc,
  .home-cards {
    width: 70%;
    margin: auto;
  }

  .home-cards {
    margin-bottom: 20px;
  }

  .learn-blocs {
    flex-direction: column;
    width: 50%;
  }

  .learn-bloc {
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  .home-main,
  .home-cards {
    width: 85%;
  }

  .learn-bloc {
    margin-bottom: 0px;
  }

  .learn-blocs {
    gap: 15px;
  }

  .buttons-main {
    margin-top: 40px;
  }
}
