<div
  class="home"
  [ngClass]="{
  'uk-bg': lang == 'en',
  'fr-bg': lang == 'fr',
}"
>
  <div class="add-bloc">
    <div class="newcard-bloc">
      <h2
        style="
          margin-bottom: 50px;
          background-color: rgb(16, 142, 201);
          color: white;
        "
      >
        ADD A NEW CARD
      </h2>
      <form [formGroup]="form" (submit)="sumbmitForm()">
        @if(image){
        <img
          class="api-img"
          [src]="'data:image/png;base64,' + image"
          alt="Generated Image"
        />
        } @else{
        <img class="api-img" src="/no-image.png" alt="Generated Image" />
        }
        <div class="fieldset">
          <fieldset>
            <legend>Front Text</legend>
            <input
              type="text"
              placeholder="Enter a word"
              name="frontText"
              formControlName="frontText"
              (change)="getImage()"
            />
          </fieldset>
        </div>
        <div class="fieldset">
          <fieldset>
            <legend>Back Text</legend>
            <input
              type="text"
              placeholder="Enter a word"
              name="backText"
              formControlName="backText"
            />
          </fieldset>
        </div>
        <div>
          <button type="submit" class="button-save">SAVE</button>
        </div>
      </form>
      @if(failedAdd){
      <h5 class="error">The fields cannot be empty</h5>
      }
    </div>
  </div>
  <div class="home-main">
    <div class="main-bloc">
      <h2
        style="
          margin-bottom: 50px;
          background-color: rgb(16, 142, 201);
          color: white;
        "
      >
        CARDS DATA
      </h2>
      <div class="learn-blocs">
        <div class="learn-bloc to-learn">
          <p class="learn-text">
            {{ (cardsStats && cardsStats["to learn"]) || 0 }}<br />To Learn
          </p>
        </div>
        <div class="learn-bloc learning">
          <p class="learn-text">
            {{ (cardsStats && cardsStats["learning"]) || 0 }}<br />Learning
          </p>
        </div>
        <div class="learn-bloc learned">
          <p class="learn-text">
            {{ (cardsStats && cardsStats["learned"]) || 0 }}<br />Learned
          </p>
        </div>
      </div>
      <div class="buttons-main">
        <a routerLink="learn">
          <button
            class="button-start"
            [disabled]="cardsStats && cardsStats['to learn'] === 0"
          >
            <h3>LEARN</h3>
          </button></a
        >
        <a routerLink="add">
          <button class="button-add"><h3>+</h3></button>
        </a>
      </div>
    </div>
  </div>
  <div class="home-cards">
    <app-cardslist />
  </div>
</div>
