<div class="home" [ngStyle]="backgroundStyle">
  <div class="home-main">
    <div class="main-bloc">
      <div class="learn-blocs">
        <div class="learn-bloc">
          <p class="to-learn learn-text">
            To Learn<br />{{ cardsStats && cardsStats["to learn"] }}
          </p>
        </div>
        <div class="learn-bloc">
          <p class="learning learn-text">
            Learning<br />{{ cardsStats && cardsStats["learning"] }}
          </p>
        </div>
        <div class="learn-bloc">
          <p class="learned learn-text">
            Learned<br />{{ cardsStats && cardsStats["learned"] }}
          </p>
        </div>
      </div>
      <div class="buttons-main">
        <a routerLink="learn">
          <button class="button-start">
            <h3>Start to Play !</h3>
          </button></a
        >
        <a routerLink="add">
          <button class="button-add"><h3>Add a card</h3></button>
        </a>
      </div>
    </div>
  </div>
  <div class="home-cards">
    <app-cardslist />
  </div>
</div>
