<div class="settings-bloc">
  <h3>Username</h3>
  <div class="settings-buttons">
    <button (click)="logout()">Logout</button>
    <button>Delete my account</button>
  </div>
  <h3>App made by ©Antoine Grappin</h3>
  <div class="socials-bloc">
    <div>
      <a href="https://antoine-grappin.fr/">
        <fa-icon [icon]="faGlobe" /><br />
        Portfolio
      </a>
    </div>
    <div>
      <a href="https://github.com/antoine-gpn">
        <fa-icon [icon]="faGithub" /><br />
        <span>Github</span>
      </a>
    </div>
    <div>
      <a href="https://www.linkedin.com/in/antoine-grappin/">
        <fa-icon [icon]="faLinkedin" /><br />
        Linkedin
      </a>
    </div>
  </div>
</div>
