<div class="settings-bloc">
  <h3>Username</h3>
  <div class="settings-buttons">
    <button>Logout</button>
    <button>Delete my account</button>
    <button>Feature request</button>
  </div>
  <h3>App made by ©Antoine Grappin</h3>
  <div class="socials-bloc">
    <div>
      <a>
        <fa-icon [icon]="faGlobe" /><br />
        Portfolio
      </a>
    </div>
    <div>
      <a>
        <fa-icon [icon]="faGithub" /><br />
        <span>Github</span>
      </a>
    </div>
    <div>
      <a>
        <fa-icon [icon]="faLinkedin" /><br />
        Linkedin
      </a>
    </div>
  </div>
</div>
